<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div style="max-width:1200px;margin:0 auto;padding:0 15px">
      <div style="display:flex;align-items:center;flex-wrap:wrap;padding:40px 0;">
        <div style="display:flex;flex-direction:column;align-items:center;">
          <img src="/vladimir-lotarev600x600@2x.jpg" alt="Vladimir Lotarev" style="border-radius:50%;display:inline-block;overflow:hidden;width:200px;height:200px;margin:0 20px 20px 0;" />
          <span style="color:blue;">front-end / web-developer</span>
        </div>
        <h1 style="width:calc(100% - 220px);min-width:280px;text-align:center;"><a href="http://vladimirlotarev.ru/" style="text-decoration:none;">Vladimir Lotarev</a></h1>
      </div>
      <div>
        <h2 style="text-align:center;margin:20px 0">My works:</h2>
        <ul style="display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;list-style:none;margin-bottom:20px">
        <li style="position:relative;min-width:250px;width:50%;max-width:100%;">
          <a href="https://vladimirlotarev.github.io/landing/" style="display:block;">
            <picture>
              <source srcset="images/sozdanie-saita-pod-kluch-landing-300x200.webp 1x, images/sozdanie-saita-pod-kluch-landing-600x400.webp 2x" media="(max-width: 680px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-landing-450x400.webp 1x, images/sozdanie-saita-pod-kluch-landing-900x800.webp 2x" media="(max-width: 980px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-landing-600x400.webp 1x, images/sozdanie-saita-pod-kluch-landing-1200x800.webp 2x" media="(min-width: 981px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-landing-300x200.jpg 1x, images/sozdanie-saita-pod-kluch-landing-600x400.jpg 2x" media="(max-width: 680px)" type="image/jpg">
              <source srcset="images/sozdanie-saita-pod-kluch-landing-450x400.jpg 1x, images/sozdanie-saita-pod-kluch-landing-900x800.jpg 2x" media="(max-width: 980px)" type="image/jpg">
              <img src="images/sozdanie-saita-pod-kluch-landing-600x400.jpg 1x" srcset="images/sozdanie-saita-pod-kluch-landing-1200x800.jpg 2x" alt="сайт под ключ" style="display:block;width:100%;">
            </picture>
            <div style="font-size:22px;font-weight:bold;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;display:flex;justify-content:center;align-items:center;"><span>LANDING</span></div>
          </a>
          <a href="https://github.com/vladimirlotarev/vladimirlotarev.github.io/tree/master/landing" style="position:absolute;top:-50px;">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">  <image id="image0" width="40" height="40" x="0" y="0"
    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAG
MUlEQVRYw8WYS4ilRxWAv1P1v+6ju6dnnDbjjJlEEo0QjEYNJuIiTogTEjdOfGxU0EgMggsRNyGu
xOADxYUZlCx8QUR0IUFFySAqURiCRqMYk9GBzNNJ90y/7uO/9VeVi/pv/3/fvj3dHdPdBw63bt1T
t746VXXqVIn3HgD57D9YJd5C1LiDZPoEjudAfo5d/jbezKOawUZ0ZesNSAyuC85DPAV2KdSpBmBL
2wJcEcq6eTfIA0TJ/eRz32Dp7OfRSTD7zrsAUCtAokZUQDXuxaUZqHeCfAndvoJuHwffBAf4mgqA
BjUFahokLesqG1+2UfEH0K2zSPRrVPRBnBJU+0MoBc6EAZcSVaWJ1R7Eg0pvBVN2QIBQ2afx9qN4
80lQ5xG5H/QNCIcQ2Y9KJsLApUc0sYjnLCKngT+CfRqyR1H6PpAA7D0wAB2/nuzAjdjBi4gaAygZ
a0WureBKaG8BaSHJj1c8JwSP+1W2TYj2If564D2gPhaWxNDOr+1OZ4dBrQcojBHFWPFry35Mh7gN
2q5yBti+YHvV2l4FaJfGTHHrDBLfNL6jbRDvzox6t/JQ0a1pD8wCuO7v6qPZNpEIbPcF+v99HtuB
onJW5cFirtbCgRdIZt62/pS8qq4DlR3GmxvIL59CN8Z4MNpbqd4D2aGH0O1j+GIH+ApQScqem39K
1KYKT3XA5JpK04Mx0d5HdgQOApDrQ9y+hXTmoXocrAAHl4Lm58F1PozIgZ2Z3jqkgcb+T5DuP7AW
UMdBVQIqft/OwpXiDKj0HUSTdw6rqk2isgpZ0reEY2kXxDtIWjetBZS4brV3d+igPKv3rQVUaX0U
alemuGJcWXq1k6RTGai0H+Z6tyB9bwWlqnSlWsBf3CUywm7OX14LKGmpGaBe2DU4ESj6p9cCmvmg
gzmwyyfrKc/O8Wmw+fMUy88Mq6o1uFJU4OWpnafzIZP39jd4Tg1ra2dxBlEDkklQ8Yt4++TOelGF
GJgvfK8egysCPwC/DGYWikVwna8j0Svp6ZV5L2qCWfoR/Yt/qadbNRepkMV4YPAy9F76PWbum0hC
PbvYFjidQdE5x+I/H8Tl1JOUmgc9EEM8DVEL7Cz0T38O7A/KS8f28KkUnJ3lyrN3MLjUxffBLozz
oAeKECPTg5AcDNU2/ziu9ykgLOJXA1TUMCmBovMLOhcPUXReQmfllbfK4itAlRwD9RSSPID3McTg
+wEaeRw/2IcrvgzuQtnL1oBVFIBEg7c5Zv4n9C69m/7cfeBydDq2WbULXBd06wjR5BHQj2KiIxSz
f6P7d2i8GVTrMq73MOiHkfg2RN+NMzH4o0h021Vva94uMFg8DjbH+mfwxQnMQg8Vl1nU+oOs3Um6
PyNygitOoLL3kr7uT7jOGynmzjG4ANkbSnMN+JOYuZPYHJKZe0MHVzm3VTJF78IvGVz5A8lMNb0S
bdy0Qm2HUNM/cwSf/xXVaNK48XGSa0HvLY+gRbCL4HIwHdDNL6KSt1/9WupD28Y1P8T7kLWbyyHm
SX3zjT6ljAKaeeifBdeB/vnP4HMQfZRk/1eIJ4Op6wU7FMQTELWOrjwKXU2cCa8G6WvuBF0+Nrmg
zpSfZdnVHpdWTfFwJHoCvHka1/8VqnEPKv0C3t4KPILEf0aUINFhouQjILdvPvP2kE7fjCS/DbvU
17ymoHldGf9Wr8dawtquVRdg+8fRrXtwA0DuAu4inemEf1UT4Y+2cC1wBehsikY2/neJGJeDVlPs
+pV6A4P5JzGL30UNrwIeRLcQPVGNfosisr5iCS9pRamjHnTdkREbMMmD6OQU6K+G+DWcEhlmHlsD
9H7LKXptDY5kLqKDuvxrwHFw70c1bwHJ8O4/2P4SKn4M0dl2Xg02SFekhDTL2N4TxNkTqBSK8zCY
nab5pse25knZ8jm5iXyqjGNKVd9VC7LEgC62dn92/88UrwPnITw9NwKYRBC3wRuP67qwWTbhGBEo
jA3PyDGbXRa1MDPyRu0NRNMQTYbTY3AhnDTD1Etihcr05rMbAZzC9MomG7XbNwI4eHYE0IE7DT24
3pzjtfYSHkh8zrya5rk9x25H2i28zUvyDfj0BLr5Vv79fa7r/IvlaGqDBt8C4H/ucXDNP8NuEwAA
ACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wNS0xNlQwMzoxMzowNSswMzowMDHfwasAAAAldEVYdGRh
dGU6bW9kaWZ5ADIwMjAtMDUtMTZUMDM6MTM6MDUrMDM6MDBAgnkXAAAAGXRFWHRTb2Z0d2FyZQBB
ZG9iZSBJbWFnZVJlYWR5ccllPAAAAABJRU5ErkJggg==" />
</svg>
          </a>
        </li>
        <li style="position:relative;min-width:250px;width:50%;max-width:100%;">
          <a href="https://vladimirlotarev.ru/portfolio#case-2" style="display:block;">
            <picture>
              <source srcset="images/sozdanie-saita-pod-kluch-rezinast-300x200.webp 1x, images/sozdanie-saita-pod-kluch-rezinast-600x400.webp 2x" media="(max-width: 680px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-rezinast-450x400.webp 1x, images/sozdanie-saita-pod-kluch-rezinast-900x800.webp 2x" media="(max-width: 980px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-rezinast-600x400.webp 1x, images/sozdanie-saita-pod-kluch-rezinast-1200x800.webp 2x" media="(min-width: 981px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-rezinast-300x200.jpg 1x, images/sozdanie-saita-pod-kluch-rezinast-600x400.jpg 2x" media="(max-width: 680px)" type="image/jpg">
              <source srcset="images/sozdanie-saita-pod-kluch-rezinast-450x400.jpg 1x, images/sozdanie-saita-pod-kluch-rezinast-900x800.jpg 2x" media="(max-width: 980px)" type="image/jpg">
              <img src="images/sozdanie-saita-pod-kluch-rezinast-600x400.jpg 1x" srcset="images/sozdanie-saita-pod-kluch-rezinast-1200x800.jpg 2x" alt="сайт под ключ" style="display:block;width:100%;">
            </picture>
            <div style="font-size:22px;font-weight:bold;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;display:flex;justify-content:center;align-items:center;"><span>ИНТЕРНЕТ МАГАЗИН</span></div>
          </a>
        </li>
        <li style="position:relative;min-width:250px;width:50%;max-width:100%;">
          <a href="https://vladimirlotarev.ru/portfolio#case-3" style="display:block;">
            <picture>
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-300x200.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.webp 2x" media="(max-width: 680px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-450x400.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-900x800.webp 2x" media="(max-width: 980px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-1200x800.webp 2x" media="(min-width: 981px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-300x200.jpg 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.jpg 2x" media="(max-width: 680px)" type="image/jpg">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-450x400.jpg 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-900x800.jpg 2x" media="(max-width: 980px)" type="image/jpg">
              <img src="images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.jpg 1x" srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-1200x800.jpg 2x" alt="сайт под ключ" style="display:block;width:100%;">
            </picture>
            <div style="font-size:22px;font-weight:bold;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;display:flex;justify-content:center;align-items:center;"><span>КОРПОРАТИВНЫЙ</span></div>
          </a>
        </li>
          <li style="position:relative;min-width:250px;width:50%;max-width:100%;">
          <a href="https://vladimirlotarev.github.io/duffcar/" style="display:block;">
            <picture>
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-300x200.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.webp 2x" media="(max-width: 680px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-450x400.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-900x800.webp 2x" media="(max-width: 980px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.webp 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-1200x800.webp 2x" media="(min-width: 981px)" type="image/webp">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-300x200.jpg 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.jpg 2x" media="(max-width: 680px)" type="image/jpg">
              <source srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-450x400.jpg 1x, images/sozdanie-saita-pod-kluch-expert-rtuti-900x800.jpg 2x" media="(max-width: 980px)" type="image/jpg">
              <img src="images/sozdanie-saita-pod-kluch-expert-rtuti-600x400.jpg 1x" srcset="images/sozdanie-saita-pod-kluch-expert-rtuti-1200x800.jpg 2x" alt="сайт под ключ" style="display:block;width:100%;">
            </picture>
            <div style="font-size:22px;font-weight:bold;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;display:flex;justify-content:center;align-items:center;"><span>КОРПОРАТИВНЫЙ</span></div>
          </a>
        </li>
      </ul>
        <a href="vladimirlotarev.github.io/slider/">slider</a>
      </div>
     </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
